<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        h1{
            text-align: center;
            font-size: 60px;
        }
        p{
            text-align: center;
            font-size:40px;
        }
    </style>
    <h1>About Page</h1>
    <p> This is the new template-powered About page.</p>
    {% comment %} This is a comment.{% endcomment %}
</body>
</html>
